$font-primary: 'Karla', sans-serif;
$font-secondary: 'Vollkorn', serif;
$width-primary: 100%;
$width-secondary: 1440px;
$width-third: 1130px;
$width-four: 780px;
$margin-primary: 0 auto;
$displays: initial, none, inline, inline-block, block, table;
$text-decoration: none, underline;
$text-aligns: center, left, right, justify;
$mobile-min-width: 300px;
$mobile-max-width:540px;
$tablet-width:768px;
$desktop-width:980px;
$mobile-md-width:440px;
$mobile-lg-width:540px;